<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      padding: 30px;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="stylesheet" href="../public/css/login.css">
  <link rel="stylesheet" href="../public/css/forgot.css">
  <link rel="stylesheet" href="../public/css/homepage.css">
  <link rel="stylesheet" href="../public/css/article.css">
  
  <script src="https://kit.fontawesome.com/6c21279c71.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</head>
<body> 
  <div class="box">
    <div class="logo">
      <img src="../public/images/image.png" alt="Logo" />
      <span>WellnessZone</span>
    </div>
    <div class="container">
      <a href="#">
        <span>Counsellor</span>
      </a>
      <a href="#">
        <span>Admin</span>
      </a>
      <a href="#">
        <span>Consumer</span>
      </a>
      <a href="#">
        <span>Support</span>
      </a>
    </div>
    <a href="./rit/login.html">
      <div class="login">Login</div>
    </a>
  </div>
  <div class="mainContent forgotpasswordform1">
    <div class="article">
        <h1 class="article_title">What Really Happens to a Human Body at Titanic Depths</h1>
        <div class="article_des">
            <div class="author_name">Sambhav</div>
            <div class="dateandtime">1 hr ago . 4 June</div>
        </div>
        <img class="article_image" src="../public/images/article.jpg" alt="">
        <p class="article_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, vitae et assumenda harum architecto aliquam a asperiores error illo molestiae.</p>
        <p class="article_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, cum ipsum debitis rerum blanditiis sunt magni enim eius obcaecati maxime, placeat vel? Dolorum cumque molestias aliquid architecto nulla consectetur accusantium.</p>
        <p class="article_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nostrum maiores voluptatibus quaerat consequatur mollitia at dolore inventore praesentium pariatur iusto expedita dignissimos tempore amet velit aut, exercitationem quod nisi doloribus suscipit animi hic. Commodi rerum hic tempore in accusamus ipsa qui provident magnam vero debitis modi delectus obcaecati ducimus assumenda quis sit asperiores doloremque saepe non odit nobis, dolor eum inventore! Harum reprehenderit laborum ducimus culpa veniam velit voluptate earum accusantium natus voluptas consequatur ipsa totam eaque, est rem cumque fugiat dolores hic, saepe exercitationem, vel aut voluptatem. Veritatis temporibus inventore numquam autem nesciunt quam voluptate maxime explicabo eaque.</p>
        <p class="article_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nostrum maiores voluptatibus quaerat consequatur mollitia at dolore inventore praesentium pariatur iusto expedita dignissimos tempore amet velit aut, exercitationem quod nisi doloribus suscipit animi hic. Commodi rerum hic tempore in accusamus ipsa qui provident magnam vero debitis modi delectus obcaecati ducimus assumenda quis sit asperiores doloremque saepe non odit nobis, dolor eum inventore! Harum reprehenderit laborum ducimus culpa veniam velit voluptate earum accusantium natus voluptas consequatur ipsa totam eaque, est rem cumque fugiat dolores hic, saepe exercitationem, vel aut voluptatem. Veritatis temporibus inventore numquam autem nesciunt quam voluptate maxime explicabo eaque.</p>
        <p class="article_para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsa ab cum laboriosam libero quibusdam</p>
    </div>
</div>
</body>
</html>