<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/images/titlelogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Article</title>
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/postlogin.css" />
    <link rel="stylesheet" href="/css/articlesUpload.css">
    <script
      src="https://kit.fontawesome.com/9542957272.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/articlesclick.js"></script>
  </head>
  <body>
    <div class="box">
      <a href="/user/home" class="logo">
        <img src="/images/image.png" alt="Logo" />
        <span>WellnessZone</span>
      </a>
      <form class="container" action="/article/searcharticle" method="POST">
      <div class="search">
        <input id="search_article" type="text" placeholder="Search Articles" onkeyup="searchfun()" name="searchfield">
      </div>
      <button class="search_btn" type="submit" value="submit">Search</button>
    </form>
      <div class="container1">
      <a href="" style="pointer-events: none;">
        <p style="display:none" id="disablingbtn">{{isAdmin}}</p>
        <a href="/admin/reviewarticles" id="reviewbtn">
          <button class="button">
            <span>Review Article</span>
          </button>
        </a>
        <a href="/user/getuploadArticle">
          <button class="button">
            <span>Upload Article</span>
          </button>
        </a>
        <a href="#">
          <button class="button">
            <span>Chat</span>
          </button>
        </a>
        <a href="/user/profileShow">
          <button class="button">
            <span>Profile</span>
          </button>
        </a>
        <a href="/user/logout">
          <div class="login">SignOut</div>
        </a>
      </a>
    </div>
    </div>
    <section class="info">
      <div class="articleform">
        <h1>Upload Article</h1>
        <form action="/article/createArticle" method="POST" enctype="multipart/form-data">
            <input type="text" class="input" name="heading" placeholder="Subject of Article">
            <textarea name="discription" style="overflow:auto" class="input" id="" cols="30" rows="9" placeholder="Description"></textarea>
            <input type="text" class="input" name="tags" placeholder="Enter tags for search filter">
            <div class="input image"><span>Add a picture: </span><input type="file" name="image" accept="image/*" style="width: 174px;"></div>
            <div >
              <div style="width: 376px; margin: auto">
                Note:<br>
              1. Add space between different tags to use in tag input.<br>
              2. Your article will be sent for review to counsellors.
              </div>
            </div>
            <button type="submit" value="submit" class="input" id="btn">Upload</button>
        </form>
    </div>
    </section>
    <div class="review">
      <div class="box2">
        <div class="first">
          <h1>First Person</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum incidunt enim ratione aperiam aliquid a corporis quisquam asperiores repellendus amet modi molestias inventore eligendi, repellat praesentium dolore cupiditate voluptates dolores saepe possimus assumenda quis totam. Accusantium, expedita dolor laboriosam iusto tempora sint esse ipsum adipisci rem unde! Ad, autem voluptate?
          </p>
        </div>
        <div class="first hide">
          <h1>Second Person</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum incidunt enim ratione aperiam aliquid a corporis quisquam asperiores repellendus amet modi molestias inventore eligendi, repellat praesentium dolore cupiditate voluptates dolores saepe possimus assumenda quis totam. Accusantium, expedita dolor laboriosam iusto tempora sint esse ipsum adipisci rem unde! Ad, autem voluptate?❤
          </p>
        </div>
        <div class="first hide">
          <h1>Third Person</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum incidunt enim ratione aperiam aliquid a corporis quisquam asperiores repellendus amet modi molestias inventore eligendi, repellat praesentium dolore cupiditate voluptates dolores saepe possimus assumenda quis totam. Accusantium, expedita dolor laboriosam iusto tempora sint esse ipsum adipisci rem unde! Ad, autem voluptate?
          </p>
        </div>
      </div>
      <div class="legalize">
        <div class="column">
          <div class="top_info">
            <h1>LEGAL</h1>
          </div>
          <div class="bottom_info">
            <span>Privacy</span>
            <span>Terms</span>
            <span>Cookie Policy</span>
            <span>Intellectual Property</span>
          </div>
        </div>
        <div class="column">
          <div class="top_info">
            <h1>CAREERS</h1>
          </div>
          <div class="bottom_info">
            <span>Careers Portal</span>
            <span>Tech Blog</span>
          </div>
        </div>
        <div class="column">
          <div class="top_info">
            <h1>Social</h1>
          </div>
          <div class="bottom_info row">
            <span><i class="fa-brands fa-twitter"></i></span>
            <span><i class="fa-brands fa-facebook"></i></span>
            <span><i class="fa-brands fa-youtube"></i></span>
            <span><i class="fa-brands fa-instagram"></i></span>
          </div>
        </div>
        <div class="column">
          <div class="top_info">
            <h1>HELP</h1>
          </div>
          <div class="bottom_info">
            <span>FAQ</span>
            <span>Destinations</span>
            <span>Press Room</span>
            <span>Contact</span>
            <span>Promo Code</span>
          </div>
        </div>
      </div>
      <div class="app">
        <div class="app_info">
          <h1>GET THE APP!</h1>
          <img class="app_img" src="/images/apple.webp" alt="" />
          <img class="app_img2" src="/images/google.webp" alt="" />
        </div>
        <div class="app_information">
          <h5>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque vitae rem delectus laboriosam iste ipsam odit alias accusantium, obcaecati illum quis. Unde veritatis dicta ullam doloremque consectetur, molestias quis, veniam fuga omnis perferendis incidunt repellat fugit dolores autem. Iure, neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae quisquam eius, quibusdam deserunt doloremque similique ad dolorum laudantium eos doloribus. Animi deleniti rerum magni iure quaerat non tempore. Vel, voluptatum quos. Sunt, pariatur hic? Veritatis ut quasi optio adipisci. <br />
            <br />
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam reiciendis praesentium maxime magni dolorem illo ea, distinctio qui similique adipisci voluptatum, aliquid accusamus odit. Maiores, non ab dolores dolor, adipisci deserunt vero veniam odit architecto corrupti doloremque reiciendis reprehenderit, repellat esse! Rerum ullam esse nulla explicabo odit in soluta inventore ab quas ad. Inventore corrupti recusandae similique repudiandae aspernatur, ut asperiores et voluptatum tenetur deserunt amet laudantium. Perferendis necessitatibus aspernatur, deleniti excepturi cupiditate sit fuga aperiam officia eaque quisquam, ab rem saepe sed rerum optio atque. Suscipit deleniti non asperiores sed nemo distinctio iste quam, voluptatum, ex doloribus praesentium magni!
          </h5>
        </div>
      </div>
      <div class="footer">
        <div class="footer_info">
          <span>FAQ &nbsp&nbsp</span>/
          <span>&nbsp&nbspSafety Tips&nbsp&nbsp</span>/
          <span>&nbsp&nbspTerms&nbsp&nbsp</span>/
          <span>&nbsp&nbspCookie Policy&nbsp&nbsp</span>/
          <span>&nbsp&nbspPrivacy Settings&nbsp&nbsp</span>
        </div>
        <div class="footer_right">
          <span>© 2023, WellnessZone, All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/articlesclick.js"></script>
</html>
