
.body{
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.forgotpasswordform {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forgotpasswordform .form-wrap {
    /* background: #fff; */
    width: 30%;
    padding: 15px 20px;
}

.forgotpasswordform .form-wrap h2 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 28px;
}

.forgotpasswordform .form-wrap .form-box {
    margin: 0px 0px 15px;
}

.forgotpasswordform .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #353535;
    width: 100%;
}

.forgotpasswordform .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}


.forgotpasswordform .form-wrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    /* background: #353535; */
    color: #fff;
    background-color: #dd5353;;
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
}

.forgotpasswordform .form-wrap .form-submit input[type="submit"]:hover {
    background-color: #ef3737;
}

.forgotpasswordform:before {
    background: url("../images/medical.webp") center center / cover no-repeat
    fixed;
}